/* index.css or App.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Navbar */
.header{
   
    width: 100%;
    
}
.border-gray-200{
    border: 1px solid #ccc;
}


.search-input {
    min-height: auto;
    width: 500px; /* Adjust width as needed */
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    border: 2px solid #e2e8f0; /* Adjust border color as needed */
    border-radius: 1rem; /* Adjust border radius as needed */
    outline: none;
    
  }